body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: flex;
}
h1 {
  color: lightsalmon;
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: lightblue;
}

.assign {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: lightsalmon;
  display: block;
  width: 20%;
  box-shadow: 8px 8px black;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid lightblue;
}
